Sphinx
TBB
appdirs
argh
asgiref
atomicwrites
backports.weakref
bkcharts
black
boto
brotlipy
certifi
click
clyent
comtypes
cycler
cytoolz
dask
django
entrypoints
fonttools
gunicorn
inflection
llvmlite
whitenoise
djangorestframework
